body {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    font-family: 'Segoe UI', sans-serif;
}

.container-box {
    width: 350px;
    margin: 80px auto;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.btn-custom {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.vote-option img {
    width: 80px;
}

.result-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.result-row img {
    width: 40px;
    margin-right: 10px;
}

.winner {
    margin-top: 20px;
    color: yellow;
}

.vote-option {
    margin: 20px 0;
}

.vote-option img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    display: block;
    margin: 10px auto;
}